.producto-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    margin-right: 20px;
    text-align: center;
    background-color: #f7f7f7;
    border-radius: 5px;
    display: inline-block;
}


.producto-card button {
    background-color: #4ca0af;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}


#comprar {
    background-color: #4ca0af;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#vaciar-carrito {
    background-color: #4ca0af;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}


.carrito-icon {
    position: relative;
    cursor: pointer;
    margin-right: 20px; 
}


.carrito-cantidad {
    position: absolute;
    top: -10px;
    left: 20px; 
    background-color: rgba(0, 255, 242, 0.295);
    color: rgb(0, 0, 0);
    border-radius: 100%;
    padding: 5px 10px;
    font-size: 14px;
    min-width: 10px;
    text-align: center;
    margin-left: -10px; 
}



